* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  background: #000;
}

.loader {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0;
  top: 0;
  animation: rotateOne 1s linear infinite;
  border-bottom: 3px solid #efeffa;
}